body {
  padding: 10px;
  background-color: gray;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
}
img {
  border-radius: 20px;
  width: 100%;
  height: 300px;
}

.box {
  padding: 10px;
}
